body{
  padding: 50px;
  background-color: #efefef;
}


h2{
  background-color: #7f7;
  padding: 10px;
}

h1{
  background-color: #777;
  padding: 10px;
}

p{
  background-color: #999;
  padding: 10px;
}